%h1 Welcome to the coveted Pro Page!

%p
  You can only see this page if you belong to an account on the Pro plan. You can only be on the Pro plan if the call to Stripe succeeds and the webhook comes back to assign your account to the Pro plan. Neat, right?
